In [1]:
SF            = 1000
query_to_skip = []
ver           = 'dwh'
core          =  0
result_path   = 'abfss://results@onelake.dfs.fabric.microsoft.com/data.Lakehouse/Tables/dbo/results'
schema        =  'CH1000'

**<mark><u>Import</u></mark>**

In [2]:
import pandas           as pd
import sempy.fabric     as fabric
from   deltalake        import DeltaTable , write_deltalake
from   datetime         import datetime
from   psutil           import *
import time
import duckdb

# SQL Query

In [3]:
sql=f"""
--  T-SQL
SELECT
    --Query01
    l_returnflag,
    l_linestatus,
    SUM(l_quantity) AS sum_qty,
    SUM(l_extendedprice) AS sum_base_price,
    SUM(l_extendedprice * (1 - l_discount)) AS sum_disc_price,
    SUM(l_extendedprice * (1 - l_discount) * (1 + l_tax)) AS sum_charge,
    AVG(l_quantity) AS avg_qty,
    AVG(l_extendedprice) AS avg_price,
    AVG(l_discount) AS avg_disc,
    COUNT_big(*) AS count_order
FROM
    lineitem
WHERE
    l_shipdate <= CAST('1998-09-02' AS date)
GROUP BY
    l_returnflag,
    l_linestatus
ORDER BY
    l_returnflag,
    l_linestatus;


SELECT
    --Query02
	top 100
    s_acctbal,
    s_name,
    n_name,
    p_partkey,
    p_mfgr,
    s_address,
    s_phone,
    s_comment
FROM
    part,
    supplier,
    partsupp,
    nation,
    region
WHERE
    p_partkey = ps_partkey
    AND s_suppkey = ps_suppkey
    AND p_size = 15
    AND p_type LIKE '%BRASS'
    AND s_nationkey = n_nationkey
    AND n_regionkey = r_regionkey
    AND r_name = 'EUROPE'
    AND ps_supplycost = (
        SELECT
            MIN(ps_supplycost)
        FROM
            partsupp,
            supplier,
            nation,
            region
        WHERE
            p_partkey = ps_partkey
            AND s_suppkey = ps_suppkey
            AND s_nationkey = n_nationkey
            AND n_regionkey = r_regionkey
            AND r_name = 'EUROPE'
    )
ORDER BY
    s_acctbal DESC,
    n_name,
    s_name,
    p_partkey ;


SELECT
    --Query03
	top 10
    l_orderkey,
    SUM(l_extendedprice * (1 - l_discount)) AS revenue,
    o_orderdate,
    o_shippriority
FROM
    customer,
    orders,
    lineitem
WHERE
    c_mktsegment = 'BUILDING'
    AND c_custkey = o_custkey
    AND l_orderkey = o_orderkey
    AND o_orderdate < CAST('1995-03-15' AS date)
    AND l_shipdate > CAST('1995-03-15' AS date)
GROUP BY
    l_orderkey,
    o_orderdate,
    o_shippriority
ORDER BY
    revenue DESC,
    o_orderdate ;




SELECT
    --Query04
    o_orderpriority,
    COUNT(*) AS order_count
FROM
    orders
WHERE
    o_orderdate >= CAST('1993-07-01' AS date)
    AND o_orderdate < CAST('1993-10-01' AS date)
    AND EXISTS (
        SELECT
            *
        FROM
            lineitem
        WHERE
            l_orderkey = o_orderkey
            AND l_commitdate < l_receiptdate
    )
GROUP BY
    o_orderpriority
ORDER BY
    o_orderpriority;


SELECT
    --Query05
    n_name,
    SUM(l_extendedprice * (1 - l_discount)) AS revenue
FROM
    customer,
    orders,
    lineitem,
    supplier,
    nation,
    region
WHERE
    c_custkey = o_custkey
    AND l_orderkey = o_orderkey
    AND l_suppkey = s_suppkey
    AND c_nationkey = s_nationkey
    AND s_nationkey = n_nationkey
    AND n_regionkey = r_regionkey
    AND r_name = 'ASIA'
    AND o_orderdate >= CAST('1994-01-01' AS date)
    AND o_orderdate < CAST('1995-01-01' AS date)
GROUP BY
    n_name
ORDER BY
    revenue DESC;



SELECT
    --Query06
    SUM(l_extendedprice * l_discount) AS revenue
FROM
    lineitem
WHERE
    l_shipdate >= CAST('1994-01-01' AS date)
    AND l_shipdate < CAST('1995-01-01' AS date)
    AND l_discount BETWEEN 0.05
    AND 0.07
    AND l_quantity < 24;


SELECT
    --Query07
    supp_nation,
    cust_nation,
    l_year,
    SUM(volume) AS revenue
FROM
    (
        SELECT
            n1.n_name AS supp_nation,
            n2.n_name AS cust_nation,
            YEAR(
                l_shipdate
            ) AS l_year,
            l_extendedprice * (1 - l_discount) AS volume
        FROM
            supplier,
            lineitem,
            orders,
            customer,
            nation n1,
            nation n2
        WHERE
            s_suppkey = l_suppkey
            AND o_orderkey = l_orderkey
            AND c_custkey = o_custkey
            AND s_nationkey = n1.n_nationkey
            AND c_nationkey = n2.n_nationkey
            AND (
                (
                    n1.n_name = 'FRANCE'
                    AND n2.n_name = 'GERMANY'
                )
                OR (
                    n1.n_name = 'GERMANY'
                    AND n2.n_name = 'FRANCE'
                )
            )
            AND l_shipdate BETWEEN CAST('1995-01-01' AS date)
            AND CAST('1996-12-31' AS date)
    ) AS shipping
GROUP BY
    supp_nation,
    cust_nation,
    l_year
ORDER BY
    supp_nation,
    cust_nation,
    l_year;


SELECT
    --Query08
    o_year,
    SUM(
        CASE
            WHEN nation = 'BRAZIL' THEN volume
            ELSE 0
        END
    ) / SUM(volume) AS mkt_share
FROM
    (
        SELECT
            
                year (
                o_orderdate
            ) AS o_year,
            l_extendedprice * (1 - l_discount) AS volume,
            n2.n_name AS nation
        FROM
            part,
            supplier,
            lineitem,
            orders,
            customer,
            nation n1,
            nation n2,
            region
        WHERE
            p_partkey = l_partkey
            AND s_suppkey = l_suppkey
            AND l_orderkey = o_orderkey
            AND o_custkey = c_custkey
            AND c_nationkey = n1.n_nationkey
            AND n1.n_regionkey = r_regionkey
            AND r_name = 'AMERICA'
            AND s_nationkey = n2.n_nationkey
            AND o_orderdate BETWEEN CAST('1995-01-01' AS date)
            AND CAST('1996-12-31' AS date)
            AND p_type = 'ECONOMY ANODIZED STEEL'
    ) AS all_nations
GROUP BY
    o_year
ORDER BY
    o_year;


SELECT
    --Query09
    nation,
    o_year,
    SUM(amount) AS sum_profit
FROM
    (
        SELECT
            n_name AS nation,
            
                year (
                
                    o_orderdate
            ) AS o_year,
            l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity AS amount
        FROM
            part,
            supplier,
            lineitem,
            partsupp,
            orders,
            nation
        WHERE
            s_suppkey = l_suppkey
            AND ps_suppkey = l_suppkey
            AND ps_partkey = l_partkey
            AND p_partkey = l_partkey
            AND o_orderkey = l_orderkey
            AND s_nationkey = n_nationkey
            AND p_name LIKE '%green%'
    ) AS profit
GROUP BY
    nation,
    o_year
ORDER BY
    nation,
    o_year DESC;


SELECT
    --Query10
	top 20
    c_custkey,
    c_name,
    SUM(l_extendedprice * (1 - l_discount)) AS revenue,
    c_acctbal,
    n_name,
    c_address,
    c_phone,
    c_comment
FROM
    customer,
    orders,
    lineitem,
    nation
WHERE
    c_custkey = o_custkey
    AND l_orderkey = o_orderkey
    AND o_orderdate >= CAST('1993-10-01' AS date)
    AND o_orderdate < CAST('1994-01-01' AS date)
    AND l_returnflag = 'R'
    AND c_nationkey = n_nationkey
GROUP BY
    c_custkey,
    c_name,
    c_acctbal,
    c_phone,
    n_name,
    c_address,
    c_comment
ORDER BY
    revenue DESC;


SELECT
    --Query11
    ps_partkey,
    SUM(ps_supplycost * ps_availqty) AS value
FROM
    partsupp,
    supplier,
    nation
WHERE
    ps_suppkey = s_suppkey
    AND s_nationkey = n_nationkey
    AND n_name = 'GERMANY'
GROUP BY
    ps_partkey
HAVING
    SUM(ps_supplycost * ps_availqty) > (
        SELECT
            SUM(ps_supplycost * ps_availqty) * (0.0001/{SF})
            -- SUM(ps_supplycost * ps_availqty) * 1
        FROM
            partsupp,
            supplier,
            nation
        WHERE
            ps_suppkey = s_suppkey
            AND s_nationkey = n_nationkey
            AND n_name = 'GERMANY'
    )
ORDER BY
    value DESC;
    
    

SELECT
    --Query12
    l_shipmode,
    SUM(
        CASE
            WHEN o_orderpriority = '1-URGENT'
            OR o_orderpriority = '2-HIGH' THEN 1
            ELSE 0
        END
    ) AS high_line_count,
    SUM(
        CASE
            WHEN o_orderpriority <> '1-URGENT'
            AND o_orderpriority <> '2-HIGH' THEN 1
            ELSE 0
        END
    ) AS low_line_count
FROM
    orders,
    lineitem
WHERE
    o_orderkey = l_orderkey
    AND l_shipmode IN ('MAIL', 'SHIP')
    AND l_commitdate < l_receiptdate
    AND l_shipdate < l_commitdate
    AND l_receiptdate >= CAST('1994-01-01' AS date)
    AND l_receiptdate < CAST('1995-01-01' AS date)
GROUP BY
    l_shipmode
ORDER BY
    l_shipmode;


SELECT
    --Query13
    c_count,
    COUNT(*) AS custdist
FROM
    (
        SELECT
            c_custkey,
            COUNT(o_orderkey) AS c_count
        FROM
            customer
            LEFT OUTER JOIN orders ON c_custkey = o_custkey
            AND o_comment NOT LIKE '%special%requests%'
        GROUP BY
            c_custkey
    ) AS c_orders
GROUP BY
    c_count
ORDER BY
    custdist DESC,
    c_count DESC;


SELECT
    --Query14
    100.00 * SUM(
        CASE
            WHEN p_type LIKE 'PROMO%' THEN l_extendedprice * (1 - l_discount)
            ELSE 0
        END
    ) / SUM(l_extendedprice * (1 - l_discount)) AS promo_revenue
FROM
    lineitem,
    part
WHERE
    l_partkey = p_partkey AND l_shipdate >= cast( '1995-09-01' as date) AND l_shipdate < CAST('1995-10-01' AS date);

SELECT
    --Query15
    s_suppkey,
    s_name,
    s_address,
    s_phone,
    total_revenue
FROM
    supplier,
    (
        SELECT
            l_suppkey AS supplier_no,
            SUM(l_extendedprice * (1 - l_discount)) AS total_revenue
        FROM
            lineitem
        WHERE
            l_shipdate >= CAST('1996-01-01' AS date)
            AND l_shipdate < CAST('1996-04-01' AS date)
        GROUP BY
            l_suppkey
    ) revenue0
WHERE
    s_suppkey = supplier_no
    AND total_revenue = (
        SELECT
            MAX(total_revenue)
        FROM
            (
                SELECT
                    l_suppkey AS supplier_no,
                    SUM(l_extendedprice * (1 - l_discount)) AS total_revenue
                FROM
                    lineitem
                WHERE
                    l_shipdate >= CAST('1996-01-01' AS date)
                    AND l_shipdate < CAST('1996-04-01' AS date)
                GROUP BY
                    l_suppkey
            ) revenue1
    )
ORDER BY
    s_suppkey;


SELECT
    --Query16
    p_brand,
    p_type,
    p_size,
    COUNT(DISTINCT ps_suppkey) AS supplier_cnt
FROM
    partsupp,
    part
WHERE
    p_partkey = ps_partkey
    AND p_brand <> 'Brand#45'
    AND p_type NOT LIKE 'MEDIUM POLISHED%'
    AND p_size IN (
        49,
        14,
        23,
        45,
        19,
        3,
        36,
        9
    )
    AND ps_suppkey NOT IN (
        SELECT
            s_suppkey
        FROM
            supplier
        WHERE
            s_comment LIKE '%Customer%Complaints%'
    )
GROUP BY
    p_brand,
    p_type,
    p_size
ORDER BY
    supplier_cnt DESC,
    p_brand,
    p_type,
    p_size;


SELECT
    --Query17
    SUM(l_extendedprice) / 7.0 AS avg_yearly
FROM
    lineitem,
    part
WHERE
    p_partkey = l_partkey
    AND p_brand = 'Brand#23'
    AND p_container = 'MED BOX'
    AND l_quantity < (
        SELECT
            0.2 * AVG(l_quantity)
        FROM
            lineitem
        WHERE
            l_partkey = p_partkey
    );


SELECT
    --Query18
	top 100
    c_name,
    c_custkey,
    o_orderkey,
    o_orderdate,
    o_totalprice,
    SUM(l_quantity)
FROM
    customer,
    orders,
    lineitem
WHERE
    o_orderkey IN (
        SELECT
            l_orderkey
        FROM
            lineitem
        GROUP BY
            l_orderkey
        HAVING
            SUM(l_quantity) > 300
    )
    AND c_custkey = o_custkey
    AND o_orderkey = l_orderkey
GROUP BY
    c_name,
    c_custkey,
    o_orderkey,
    o_orderdate,
    o_totalprice
ORDER BY
    o_totalprice DESC,
    o_orderdate;


SELECT
    --Query19
    SUM(l_extendedprice * (1 - l_discount)) AS revenue
FROM
    lineitem,
    part
WHERE
    (
        p_partkey = l_partkey
        AND p_brand = 'Brand#12'
        AND p_container IN (
            'SM CASE',
            'SM BOX',
            'SM PACK',
            'SM PKG'
        )
        AND l_quantity >= 1
        AND l_quantity <= 1 + 10
        AND p_size BETWEEN 1
        AND 5
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    )
    OR (
        p_partkey = l_partkey
        AND p_brand = 'Brand#23'
        AND p_container IN (
            'MED BAG',
            'MED BOX',
            'MED PKG',
            'MED PACK'
        )
        AND l_quantity >= 10
        AND l_quantity <= 10 + 10
        AND p_size BETWEEN 1
        AND 10
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    )
    OR (
        p_partkey = l_partkey
        AND p_brand = 'Brand#34'
        AND p_container IN (
            'LG CASE',
            'LG BOX',
            'LG PACK',
            'LG PKG'
        )
        AND l_quantity >= 20
        AND l_quantity <= 20 + 10
        AND p_size BETWEEN 1
        AND 15
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    );


SELECT
    --Query20
    s_name,
    s_address
FROM
    supplier,
    nation
WHERE
    s_suppkey IN (
        SELECT
            ps_suppkey
        FROM
            partsupp
        WHERE
            ps_partkey IN (
                SELECT
                    p_partkey
                FROM
                    part
                WHERE
                    p_name LIKE 'forest%'
            )
            AND ps_availqty > (
                SELECT
                    0.5 * SUM(l_quantity)
                FROM
                    lineitem
                WHERE
                    l_partkey = ps_partkey
                    AND l_suppkey = ps_suppkey
                    AND l_shipdate >= CAST('1994-01-01' AS date)
                    AND l_shipdate < CAST('1995-01-01' AS date)
            )
    )
    AND s_nationkey = n_nationkey
    AND n_name = 'CANADA'
ORDER BY
    s_name;


SELECT
    --Query21
	top 100
    s_name,
    COUNT(*) AS numwait
FROM
    supplier,
    lineitem l1,
    orders,
    nation
WHERE
    s_suppkey = l1.l_suppkey
    AND o_orderkey = l1.l_orderkey
    AND o_orderstatus = 'F'
    AND l1.l_receiptdate > l1.l_commitdate
    AND EXISTS (
        SELECT
            *
        FROM
            lineitem l2
        WHERE
            l2.l_orderkey = l1.l_orderkey
            AND l2.l_suppkey <> l1.l_suppkey
    )
    AND NOT EXISTS (
        SELECT
            *
        FROM
            lineitem l3
        WHERE
            l3.l_orderkey = l1.l_orderkey
            AND l3.l_suppkey <> l1.l_suppkey
            AND l3.l_receiptdate > l3.l_commitdate
    )
    AND s_nationkey = n_nationkey
    AND n_name = 'SAUDI ARABIA'
GROUP BY
    s_name
ORDER BY
    numwait DESC,
    s_name;



SELECT
    --Query22
    cntrycode,
    COUNT(*) AS numcust,
    SUM(c_acctbal) AS totacctbal
FROM
    (
        SELECT
            SUBSTRING(c_phone, 1, 2) AS cntrycode,
            c_acctbal
        FROM
            customer
        WHERE
            SUBSTRING(c_phone, 1, 2) IN (
                '13',
                '31',
                '23',
                '29',
                '30',
                '18',
                '17'
            )
            AND c_acctbal > (
                SELECT
                    AVG(c_acctbal)
                FROM
                    customer
                WHERE
                    c_acctbal > 0.00
                    AND SUBSTRING(c_phone, 1, 2) IN (
                        '13',
                        '31',
                        '23',
                        '29',
                        '30',
                        '18',
                        '17'
                    )
            )
            AND NOT EXISTS (
                SELECT
                    *
                FROM
                    orders
                WHERE
                    o_custkey = c_custkey
            )
    ) AS custsale
GROUP BY
    cntrycode
ORDER BY
    cntrycode;
"""

# Utility Function

In [4]:
def execute_query(engine, sql_script, skip_queries=None):
    df = pd.DataFrame(columns=['dur','query'])
    sql_arr = sql_script.split(";")
    if skip_queries is None:
        skip_queries = []
    for index, value in enumerate(sql_arr, start=1):
        query_text = value.strip()
        if len(query_text) > 0:
            if index in skip_queries:
                print(f'Query {index}: Skipping (as requested)')
                continue 
            start = time.time()
            print(f'Executing Query {index}')
            try:
                xx = engine.query(query_text)
                print(xx)
                stop = time.time()
                duration = stop - start
                print(f'Duration: {duration:.4f} seconds')
            except Exception as er:
                print(f'Error executing Query {index}: {er}')
                duration = float('nan')
                print(f'Duration: Error')
            row = {'dur': duration, 'query': index}
            df = pd.concat([df, pd.DataFrame([row])], ignore_index=True)
    return df

# Run Tests

In [5]:
now = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
print(now)

2025-05-24 11:22:31

In [ ]:
%%time
start = time.time()
conn = notebookutils.data.connect_to_artifact("data")
conn.query(f"ALTER USER [hhhhh@zzzzz.net] WITH DEFAULT_SCHEMA = [{schema}] ;")
print(conn.query("select schema_name()"))
stop = time.time()
external_table_duration = stop-start
df              = execute_query(conn, sql,query_to_skip)
df.at[0,'dur']  = df.at[0, 'dur'] + external_table_duration
df['run']       = 'cold'
df['time']      = now
df['sf']        = SF
df['cpu']       = core
df['test']      = 'tpch'
df['engine']    = 'SQLEndpoint'
df['version']   = ver
df['schema']    = schema
write_deltalake(result_path,df,mode="append")

In [7]:
%%time
df              = execute_query(conn, sql,query_to_skip)
df['run']       = 'warm'
df['time']      = now
df['sf']        = SF
df['cpu']       = core
df['test']      = 'tpch'
df['engine']    = 'SQLEndpoint'
df['version']   = ver
df['schema']    = schema
write_deltalake(result_path,df,mode="append")

Executing Query 1
   s_acctbal              s_name          n_name  p_partkey          p_mfgr  \
0    9999.98  Supplier#009603132          FRANCE  124603107  Manufacturer#5
1    9999.98  Supplier#009603132          FRANCE  192103074  Manufacturer#3
2    9999.98  Supplier#005781756          RUSSIA   90781737  Manufacturer#1
3    9999.97  Supplier#009095529         GERMANY    6595528  Manufacturer#2
4    9999.95  Supplier#009454986  UNITED KINGDOM   44454977  Manufacturer#1
..       ...                 ...             ...        ...             ...
95   9997.58  Supplier#009824039         GERMANY  102324008  Manufacturer#1
96   9997.58  Supplier#000991966          RUSSIA  143491923  Manufacturer#4
97   9997.57  Supplier#001712265         ROMANIA  199212245  Manufacturer#5
98   9997.56  Supplier#007091000         ROMANIA   54590994  Manufacturer#2
99   9997.54  Supplier#006113859  UNITED KINGDOM  163613842  Manufacturer#4

                             s_address          s_phone  \
0                         sWwhImcmui18  16-772-274-7879
1                         sWwhImcmui18  16-772-274-7879
2            mWkaVs2HYIMuMSyOm3z MNm6M  32-318-428-3941
3                   5CCKmqY5bOys0aBIK3  17-888-873-6604
4      yMUWlr1Y0Ba ,o4w0Hs,5fQD64M6Pcs  33-670-600-8336
..                                 ...              ...
95                ,ahnSGkru,9Chpfu5VvR  17-203-917-5644
96                      IqRrBGCrKrQ2eZ  32-573-261-5414
97                      cBo901jgqwwCJI  29-108-652-9788
98                          8F jn64K,k  29-457-622-5134
99  WFUscd2QHUIjjrGWwoGeuYENy4iaE 1tab  33-370-774-7602

                                            s_comment
0   se idly across the furiously regular requests....
1   se idly across the furiously regular requests....
2           ounts haggle slyly about the quickly expr
3   tions. patterns nag busily before the furiousl...
4   s sleep carefully. carefully special ideas sle...
..                                                ...
95                        symptotes use fluffily expr
96                 pinto beans thrash furiously caref
97  ackages cajole carefully. blithely bold courts...
98  press theodolites wake slyly! carefully unusua...
99  iously regular accounts haggle slyly along the...

[100 rows x 8 columns]
Duration: 2.8015 seconds
Executing Query 3
   l_orderkey      revenue o_orderdate  o_shippriority
0    18869634  512508.6578  1995-01-10               0
1  3947421511  507889.0464  1995-03-14               0
2  1319897249  503401.9508  1995-03-05               0
3  2036965252  495852.8692  1995-03-03               0
4  1980912577  493605.4659  1995-02-14               0
5  4803840546  492521.9430  1995-02-18               0
6  3407391428  491379.5186  1995-03-09               0
7  5289035781  488004.5812  1995-03-11               0
8  5530172133  487671.6623  1995-02-07               0
9  3885365216  487236.4126  1995-03-04               0
Duration: 10.3910 seconds
Executing Query 4
   o_orderpriority  order_count
0         1-URGENT     10519498
1           2-HIGH     10516349
2         3-MEDIUM     10517791
3  4-NOT SPECIFIED     10519231
4            5-LOW     10520598
Duration: 13.8257 seconds
Executing Query 5
      n_name           revenue
0  INDONESIA  53032312288.2555
1    VIETNAM  52981883271.7252
2      CHINA  52862580451.7972
3      JAPAN  52858415865.7114
4      INDIA  52746799691.5144
Duration: 13.6957 seconds
Executing Query 6
             revenue
0  123313653126.1127
Duration: 0.6551 seconds
Executing Query 7
  supp_nation cust_nation  l_year           revenue
0      FRANCE     GERMANY    1995  52814207781.2621
1      FRANCE     GERMANY    1996  52927406249.4576
2     GERMANY      FRANCE    1995  52996123948.2686
3     GERMANY      FRANCE    1996  53032009178.3806
Duration: 5.2527 seconds
Executing Query 8
   o_year mkt_share
0    1995  0.040108
1    1996  0.039935
Duration: 6.7793 seconds
Executing Query 9
      nation  o_year        sum_profit
0    ALGERIA    1998  27405531574.3185
1    ALGERIA    1997  46609048844.0605
2    ALGERIA    1996  46676842657.7595
3    ALGERIA    1995  46656622129.1869
4    ALGERIA    1994  46704930416.9944
..       ...     ...               ...
170  VIETNAM    1996  46823543995.6468
171  VIETNAM    1995  46704278731.8401
172  VIETNAM    1994  46619569594.5955
173  VIETNAM    1993  46553281815.9755
174  VIETNAM    1992  46822913151.3017

[175 rows x 3 columns]
Duration: 22.1988 seconds
Executing Query 10
    c_custkey              c_name      revenue c_acctbal          n_name  \
0    51718390  Customer#051718390  736354.4839    -79.58           EGYPT
1   118393487  Customer#118393487  676198.2954   1043.05          BRAZIL
2    58620298  Customer#058620298  666848.2445   7376.62         MOROCCO
3    82556692  Customer#082556692  666108.8669   8983.18  UNITED KINGDOM
4   133085882  Customer#133085882  665754.6952   7655.81           JAPAN
5    79792639  Customer#079792639  662984.8830     -6.92          JORDAN
6   103081819  Customer#103081819  660816.4783   -388.05           JAPAN
7   104172050  Customer#104172050  659933.6824   5557.08   UNITED STATES
8    99426850  Customer#099426850  659308.0628   7178.37       INDONESIA
9    44871742  Customer#044871742  657447.4734   8140.88         ALGERIA
10   91538647  Customer#091538647  657298.3566   5589.24          JORDAN
11   90626302  Customer#090626302  657161.4750   7514.09          JORDAN
12  120814141  Customer#120814141  654622.1389   6999.85           EGYPT
13    5899708  Customer#005899708  654163.0086   4914.31            IRAQ
14  124473127  Customer#124473127  652038.6756   -701.99            IRAN
15   95772536  Customer#095772536  651635.0786   7925.69         GERMANY
16  135335104  Customer#135335104  649049.9377   -856.50        ETHIOPIA
17  147277318  Customer#147277318  647966.3878   4343.77           KENYA
18   93475273  Customer#093475273  646172.7088   7104.22            IRAN
19   41851375  Customer#041851375  645501.1352   7338.66        ETHIOPIA

                                   c_address          c_phone  \
0                ZtLa p8bZ4Qw4tzK38cCLTbox83  14-702-187-4866
1              ksaQkDKf9ltpy5K,G9cnnmV3TKx5g  12-791-761-7592
2                wQZ5QQchTQfqYHbSINNb7oA 7wy  25-912-426-6173
3                       RZCV9YCBp2O54Jh9QcPn  33-259-944-9534
4                           QiqfcPJ22zYqgrI5  22-475-168-6189
5       DlmYV3M8Q49e4hu,kqGjaeUeIBYOkyi9Op7S  23-174-675-6244
6                hufYbBnjF,aTm4Z96QjFHQssYhI  22-676-922-9309
7      hZ2huSpFzeNhEkSocVzeU947T 71k7m7AMpHg  34-279-229-8222
8   UFyrVkjIImvkEjYoj28NSzGkslSkWV6ub MLo90k  19-782-762-8875
9        QWL9qFdJhV 12,3xm HtsFhZyewsggindIe  10-610-411-6763
10    kd3W66ar7Ys QHDh5OCmuuFnI4NBjxuUzIzgW7  23-452-544-7682
11                 f6benvUg4bjfBMcvtULPRwI1l  23-215-651-7765
12   xFBsDvc IKv,9XBbKWz,PLwsQKeLvijWGNgrmtI  14-967-655-1163
13                               eksG vL0pc1  21-442-786-3301
14                        MQlyPm,plBLQ8s,7fr  20-284-595-8298
15                             iSiCuvjNaxmKn  17-527-748-1697
16                           cWrF0oaib87Nweb  15-764-348-5088
17                   XoIOAyWHkJaR2zZPQp0AkO1  24-537-115-7247
18                             Sp02Ijg4TEd0j  20-703-676-9270
19         dU0XflyHepYAChydUuP000XsmMFyg9 Ua  15-624-531-1351

                                            c_comment
0           y carefully final dolphins. blithely iron
1   y final pinto beans-- carefully ironic package...
2   multipliers. slyly pending accounts wake even ...
3   final dolphins poach across the slyly regular ...
4   ular requests according to the furiously unusu...
5   lve furiously according to the carefully ironi...
6   ys. ironic, even accounts according to the car...
7           its sleep blithely after the quickly spec
8   uests sleep daringly pains. quickly ironic pin...
9   its integrate carefully express, pending packa...
10  deposits along the special packages was always...
11  beans. express deposits cajole blithely of the...
12  old, regular deposits. courts sleep along the ...
13  gular accounts. excuses haggle quickly always ...
14   unusual pinto beans. deposits doze blithely s...
15  oxes sleep asymptotes. blithely regular theodo...
16  osits. ironic, even packages haggle? slyly unu...
17                  uriously regular theodolites. fin
18  tegrate gifts. quickly careful notornis sleep ...
19   quickly unusual instructions above the carefu...
Duration: 26.5823 seconds
Executing Query 11
        ps_partkey        value
0         53849752  25813808.69
1         20672701  25556439.64
2        156942088  24965167.69
3        178571669  24866599.96
4         35609505  24522608.12
...            ...          ...
936984   124439984   8005096.80
936985    69940887   8005095.75
936986   118230270   8005095.75
936987   191696233   8005093.11
936988   158970051   8005090.24

[936989 rows x 2 columns]
Duration: 5.8755 seconds
Executing Query 12
  l_shipmode  high_line_count  low_line_count
0       MAIL          6233248         9344850
1       SHIP          6235412         9349394
Duration: 17.8242 seconds
Executing Query 13
    c_count  custdist
0         0  50000002
1        10  11068838
2        11   9694385
3         9   9399437
4        20   7938027
5        19   7391420
6        21   7289157
7        12   6126611
8         8   6071310
9        18   5929590
10       22   5673602
11       17   4129455
12       23   3689306
13        7   3008270
14       13   2756259
15       16   2502739
16       24   1965239
17       15   1385785
18       14   1220623
19        6   1151674
20       25    836667
21        5    336526
22       26    272978
23        4     74101
24       27     64281
25        3     11925
26       28      9687
27        2      1323
28       29       704
29        1        79
Duration: 16.1586 seconds
Executing Query 14
  promo_revenue
0     16.674226
Duration: 6.2262 seconds
Executing Query 15
   s_suppkey              s_name     s_address          s_phone total_revenue
0    2743971  Supplier#002743971  0UHpg3aErd6N  30-264-920-1479  3355557.9821
Duration: 4.0451 seconds
Executing Query 16
        p_brand                     p_type  p_size  supplier_cnt
0      Brand#51        MEDIUM ANODIZED TIN      36          4754
1      Brand#14     SMALL BURNISHED COPPER       9          4742
2      Brand#14         PROMO PLATED STEEL       9          4729
3      Brand#32        LARGE BURNISHED TIN      49          4722
4      Brand#43     STANDARD BURNISHED TIN      14          4719
...         ...                        ...     ...           ...
27835  Brand#54        PROMO PLATED COPPER      45          3817
27836  Brand#21     ECONOMY ANODIZED STEEL      36          3815
27837  Brand#41    ECONOMY BURNISHED BRASS      14          3804
27838  Brand#12  STANDARD BURNISHED NICKEL       9          3786
27839  Brand#22        SMALL PLATED COPPER      23          3786

[27840 rows x 4 columns]
Duration: 10.0497 seconds
Executing Query 17
         avg_yearly
0  306911757.365714
Duration: 14.1609 seconds
Executing Query 18
                c_name  c_custkey  o_orderkey o_orderdate o_totalprice
0   Customer#101152111  101152111  1499040929  1998-03-11    602901.81  321.00
1   Customer#102538214  102538214  3953307941  1998-05-27    602901.81  321.00
2   Customer#107212873  107212873  1538557767  1995-10-20    589263.48  322.00
3   Customer#047877014   47877014  5269325251  1992-10-12    586657.82  311.00
4   Customer#013476808   13476808  1587924709  1993-12-08    586657.82  311.00
..                 ...        ...         ...         ...          ...     ...
95  Customer#047220364   47220364  1982527973  1994-12-07    561204.52  315.00
96  Customer#096201739   96201739  3209661479  1996-09-24    561204.52  315.00
97  Customer#013054039   13054039  4975580870  1996-07-01    561173.50  329.00
98  Customer#007156082    7156082   563000294  1998-05-05    561114.32  303.00
99  Customer#104934928  104934928   729036576  1993-08-01    561067.11  304.00

[100 rows x 6 columns]
Duration: 28.8991 seconds
Executing Query 19
           revenue
0  2988005476.5383
Duration: 3.2274 seconds
Executing Query 20
                    s_name                                s_address
0       Supplier#000000013           HK71HQyWoqRWOX8GI FpgAifW,2PoH
1       Supplier#000000020                iybAE,RmTymrZVYaFZva2SH,j
2       Supplier#000000226                83qOdU2EYRdPQAQhEtn GRZEd
3       Supplier#000000285            Br7e1nnt1yxrw6ImgpJ7YdhFDjuBf
4       Supplier#000000530          0qwCMwobKY OcmLyfRXlagA8ukENJv,
...                    ...                                      ...
112008  Supplier#009999151      xehEyU,UF3ZlS TgVC1pOKLnUcEl2f BK1K
112009  Supplier#009999450   vxPkFsC4I1YBcnzry8Lwnw6i00NnFhEW7beuyW
112010  Supplier#009999552  lYJEyBpFFY52A em61UCE6BfJ kpv1IU NrQaFT
112011  Supplier#009999707         4R,kFG baLJSaA1GdF98D FHwa4SvMm0
112012  Supplier#009999892                               8VHbocUiZD

[112013 rows x 2 columns]
Duration: 6.4611 seconds
Executing Query 21
                s_name  numwait
0   Supplier#007614620       41
1   Supplier#005342835       40
2   Supplier#003781781       39
3   Supplier#005346939       39
4   Supplier#008145944       39
..                 ...      ...
95  Supplier#004232967       33
96  Supplier#004659977       33
97  Supplier#004764184       33
98  Supplier#005068555       33
99  Supplier#005761641       33

[100 rows x 2 columns]
Duration: 23.6028 seconds
Executing Query 22
  cntrycode  numcust     totacctbal
0        13   910398  6826577631.33
1        17   909543  6820077715.45
2        18   910808  6831217183.03
3        23   909671  6822077689.82
4        29   909314  6819409747.37
5        30   908734  6815983554.07
6        31   909356  6820654008.98
Duration: 21.7385 seconds
CPU times: user 4.67 s, sys: 241 ms, total: 4.91 s
Wall time: 4min 29s

/tmp/ipykernel_382/3974603062.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([row])], ignore_index=True)