install the model you want to run, use the command line :  ollama run qwen3:8b

example: qwen3:4b, qwen3:8b etc

In [1]:
semantic_model = 'https://raw.githubusercontent.com/djouallah/Fabric_Notebooks_Demo/refs/heads/main/SemanticModel/sm/semantic_model.txt'

In [2]:
import requests
import json
import duckdb
import pathlib
import time

In [3]:
def get_ollama_response(user_message,LLM,  ollama_url='http://127.0.0.1:11434/api/chat'):
    try:
        github_response = requests.get(semantic_model)
        github_response.raise_for_status()
        system_prompt = github_response.text.strip()
    except requests.RequestException as e:
        return f"Error fetching system prompt from GitHub: {e}"

    # Prepare payload for Ollama
    payload = {
        'model': LLM,
        'messages': [
            {'role': 'system', 'content': system_prompt},
            {'role': 'user', 'content': user_message}
        ],
        'stream': False
    }

    # Send request to Ollama
    try:
        response = requests.post(ollama_url, json=payload)
        response.raise_for_status()
        return json.loads(response.text)['message']['content'].replace("<think>", "").replace("</think>", "")
    except requests.RequestException as e:
        return f"Error with Ollama API request: {e}"

In [4]:
def execute_sql_with_retry(query, LLM,max_attempts) :
    attempt = 1
    current_query = query.strip()

    while attempt <= max_attempts:
        try:
            # Execute the SQL query
            result = con.sql(current_query).show()
            return str(result)  # Return the result as a string
        except Exception as e:  # DuckDB uses generic Exception for syntax errors; adjust for your engine
            if "syntax" not in str(e).lower() and "parser" not in str(e).lower()  and "binder" not in str(e).lower():
                return f"Non-syntax error: {e}"  # Exit if error is not syntax-related

            print(f"Attempt {attempt}/{max_attempts} failed with syntax error: {e}")
            if attempt == max_attempts:
                return f"Max attempts reached. Last error: {e}"

            # Prepare message for Ollama to fix the query
            ollama_message = (
                f"The following SQL query has a syntax error: '{current_query}'.\n"
                f"Error message: {e}\n"
                f"Please provide the corrected SQL query. Return only the corrected query without explanation."
            )

            # Get corrected query from Ollama
            corrected_query = get_ollama_response( ollama_message, LLM)
            if corrected_query.startswith("Error"):
                return f"Failed to get corrected query from Ollama: {corrected_query}"

            print(f"Received corrected query")
            current_query = corrected_query.strip()
            attempt += 1

In [5]:
SF = 0.1  # Scale Factor
if SF <1 :
 schema = f"{str(SF).replace('.', '_')}"
else :
 schema = f'DS{SF:02d}'
import os
folder_path = '/some_location'
os.makedirs(folder_path, exist_ok=True)
db_path = folder_path +"/"+ schema +".duckdb"
if not pathlib.Path(db_path).exists():
    con = duckdb.connect(db_path)
    con.sql("SET memory_limit = '14GB' ")
    con.sql(f"CALL dsdgen(sf={SF})")
    con.close()
con = duckdb.connect()
con.sql(f""" attach or replace '{db_path}' as ds(read_only) ; use ds """)

In [6]:
def ask_question(questions,LLM):
    for i, x in enumerate(questions):
        print(f"Question {i+1}: {x}")
        start_time = time.time() 
        sql_query = get_ollama_response(x,LLM)
        result = execute_sql_with_retry(sql_query,LLM,max_attempts=3)
        print(result)
        print(sql_query)
        end_time = time.time()
        print(f"\nExecution Time: {end_time - start_time:.2f} seconds")
    return 'done'

In [7]:
questions = [
          'total sales',
          'return rate',
          "Identify the top 10 item categories with the highest total return amount from customers born in 'USA' who made returns in 2001.",
          'customer age group with the worst return rate?',
          'return rate per year',
          'any days with unusual return rate?, use fancy statistics',
          ]

In [8]:
%%time
ask_question(questions,'qwen3:14b')

Question 1: total sales
┌───────────────┐
│  total_sales  │
│ decimal(38,2) │
├───────────────┤
│  514300867.72 │
└───────────────┘

None




-- total sales
SELECT
    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
FROM store_sales AS ss;

Execution Time: 46.78 seconds
Question 2: return rate
┌──────────────────┐
│   return_rate    │
│      double      │
├──────────────────┤
│ 5.19283603163974 │
└──────────────────┘

None




-- return rate
WITH store_sales_agg AS (
    SELECT
        SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
    FROM store_sales AS ss
), store_returns_agg AS (
    SELECT
        SUM(sr.sr_return_amt) AS total_returns
    FROM store_returns AS sr
)
SELECT
    (COALESCE(sr.total_returns, 0) / NULLIF(COALESCE(ss.total_sales, 0), 0))  * 100 AS return_rate
FROM store_sales_agg ss, store_returns_agg sr

Execution Time: 42.45 seconds
Question 3: Identify the top 10 item categories with the highest total return amount from customers born in 'USA' who made returns in 2001.
┌───────────────┬─────────────────────┐
│ item_category │ total_return_amount │
│    varchar    │    decimal(38,2)    │
├───────────────┼─────────────────────┤
│ Home          │             7314.95 │
│ Women         │             5649.70 │
│ Sports        │             3015.88 │
│ Children      │             1915.36 │
│ Books         │             1560.20 │
│ Men           │             1064.68 │
│ Shoes         │              910.57 │
│ Jewelry       │              438.24 │
│ Electronics   │              282.69 │
└───────────────┴─────────────────────┘

None




-- Identify the top 10 item categories with the highest total return amount from customers born in 'USA' who made returns in 2001
SELECT
    i.i_category AS item_category,
    SUM(sr.sr_return_amt) AS total_return_amount
FROM store_returns AS sr
JOIN date_dim AS d ON sr.sr_returned_date_sk = d.d_date_sk
JOIN customer AS c ON sr.sr_customer_sk = c.c_customer_sk
JOIN item AS i ON sr.sr_item_sk = i.i_item_sk
WHERE
    c.c_birth_country = 'UNITED STATES' AND
    d.d_year = 2001
GROUP BY i.i_category
ORDER BY total_return_amount DESC
LIMIT 10;

Execution Time: 61.19 seconds
Question 4: customer age group with the worst return rate?
┌────────────────────┬───────────────┬───────────────┬───────────────────┐
│ customer_age_group │  total_sales  │ total_returns │    return_rate    │
│      varchar       │ decimal(38,2) │ decimal(38,2) │      double       │
├────────────────────┼───────────────┼───────────────┼───────────────────┤
│ 20-29              │   69319168.25 │    3707062.30 │ 5.347817052031636 │
└────────────────────┴───────────────┴───────────────┴───────────────────┘

None




-- customer age group with the worst return rate?
WITH SalesAge AS (
  SELECT
    CASE
      WHEN (
        d.d_year - c.c_birth_year
      ) < 20 THEN '< 20'
      WHEN (
        d.d_year - c.c_birth_year
      ) BETWEEN 20 AND 29 THEN '20-29'
      WHEN (
        d.d_year - c.c_birth_year
      ) BETWEEN 30 AND 39 THEN '30-39'
      WHEN (
        d.d_year - c.c_birth_year
      ) BETWEEN 40 AND 49 THEN '40-49'
      WHEN (
        d.d_year - c.c_birth_year
      ) BETWEEN 50 AND 59 THEN '50-59'
      WHEN (
        d.d_year - c.c_birth_year
      ) >= 60 THEN '60+'
      ELSE 'Unknown'
    END AS age_group,
    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales_amt
  FROM store_sales AS ss
  JOIN date_dim AS d
    ON ss.ss_sold_date_sk = d.d_date_sk
  JOIN customer AS c
    ON ss.ss_customer_sk = c.c_customer_sk
  WHERE
    c.c_birth_year IS NOT NULL AND d.d_year IS NOT NULL
  GROUP BY
    1
), ReturnsAge AS (
  SELECT
    CASE
      WHEN (
        d.d_year - c.c_birth_year
      ) < 20 THEN '< 20'
      WHEN (
        d.d_year - c.c_birth_year
      ) BETWEEN 20 AND 29 THEN '20-29'
      WHEN (
        d.d_year - c.c_birth_year
      ) BETWEEN 30 AND 39 THEN '30-39'
      WHEN (
        d.d_year - c.c_birth_year
      ) BETWEEN 40 AND 49 THEN '40-49'
      WHEN (
        d.d_year - c.c_birth_year
      ) BETWEEN 50 AND 59 THEN '50-59'
      WHEN (
        d.d_year - c.c_birth_year
      ) >= 60 THEN '60+'
      ELSE 'Unknown'
    END AS age_group,
    SUM(sr.sr_return_amt) AS total_returns_amt
  FROM store_returns AS sr
  JOIN date_dim AS d
    ON sr.sr_returned_date_sk = d.d_date_sk
  JOIN customer AS c
    ON sr.sr_customer_sk = c.c_customer_sk
  WHERE
    c.c_birth_year IS NOT NULL AND d.d_year IS NOT NULL
  GROUP BY
    1
)
SELECT
  COALESCE(sa.age_group, ra.age_group) AS customer_age_group,
  COALESCE(sa.total_sales_amt, 0) AS total_sales,
  COALESCE(ra.total_returns_amt, 0) AS total_returns,
  (
    COALESCE(ra.total_returns_amt, 0) / NULLIF(COALESCE(sa.total_sales_amt, 0), 0)
  ) * 100 AS return_rate
FROM SalesAge AS sa
FULL OUTER JOIN ReturnsAge AS ra
  ON sa.age_group = ra.age_group
ORDER BY return_rate DESC
LIMIT 1;

Execution Time: 270.63 seconds
Question 5: return rate per year
┌───────┬───────────────┬───────────────┬────────────────────┐
│ year  │  total_sales  │ total_returns │    return_rate     │
│ int32 │ decimal(38,2) │ decimal(38,2) │       double       │
├───────┼───────────────┼───────────────┼────────────────────┤
│  1998 │  102297175.54 │    3174362.68 │ 3.1030794968124686 │
│  1999 │   99370448.87 │    5123614.42 │  5.156074545565248 │
│  2000 │  103184045.02 │    5280670.28 │  5.117719778262673 │
│  2001 │  102172898.92 │    5228059.14 │ 5.1168746265029625 │
│  2002 │  100289052.41 │    5118797.44 │  5.104044077586275 │
│  2003 │     873774.86 │    2222881.70 │ 254.39982331375387 │
└───────┴───────────────┴───────────────┴────────────────────┘

None




-- return rate per year
WITH SalesPerYear AS (
    SELECT
        d.d_year AS year,
        SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
    FROM store_sales AS ss
    JOIN date_dim AS d ON ss.ss_sold_date_sk = d.d_date_sk
    GROUP BY d.d_year
), ReturnsPerYear AS (
    SELECT
        d.d_year AS year,
        SUM(sr.sr_return_amt) AS total_returns
    FROM store_returns AS sr
    JOIN date_dim AS d ON sr.sr_returned_date_sk = d.d_date_sk
    GROUP BY d.d_year
)
SELECT
    COALESCE(sa.year, ra.year) AS year,
    COALESCE(sa.total_sales, 0) AS total_sales,
    COALESCE(ra.total_returns, 0) AS total_returns,
    (COALESCE(ra.total_returns, 0) / NULLIF(COALESCE(sa.total_sales, 0), 0)) * 100 AS return_rate
FROM SalesPerYear AS sa
FULL OUTER JOIN ReturnsPerYear AS ra ON sa.year = ra.year
ORDER BY year;

Execution Time: 95.92 seconds
Question 6: any days with unusual return rate?, use fancy statistics
┌────────────┬────────────────────┬────────────────────┬────────────────────┐
│   d_date   │    return_rate     │      z_score       │     iqr_score      │
│    date    │       double       │       double       │       double       │
├────────────┼────────────────────┼────────────────────┼────────────────────┤
│ 1998-01-18 │  123.3744100681699 │ 3.2465063088535357 │ 3.8341153850448504 │
│ 1998-06-01 │ 161.63565818691552 │  4.989947712290132 │  5.599121190608561 │
│ 1998-09-26 │  316.7318831252413 │ 12.057181359111834 │ 12.753768539999179 │
│ 1998-10-01 │  186.0634052598766 │  6.103041187638936 │  6.725982375764058 │
│ 1998-11-09 │ 105.73454312151027 │  2.442714590128827 │ 3.0203816700965476 │
│ 1999-10-21 │ 106.10757228558923 │ 2.4597123233790907 │  3.037589646119718 │
│ 2000-06-08 │ 129.64138099576712 │  3.532071917047936 │  4.123213117460139 │
│ 2001-06-05 │ 150.45262578894867 │   4.48037307326951 │  5.083243688521845 │
│ 2001-06-16 │ 144.68706843063867 │   4.21765526068876 │  4.817276353160875 │
│ 2001-06-24 │  577.0213926664848 │   23.9177329649042 │  24.76102178071461 │
│ 2001-06-28 │ 115.61282010640073 │  2.892835742387711 │ 3.4760703129026322 │
│ 2001-07-15 │  135.2894359845068 │ 3.7894355264548896 │  4.383760024197992 │
│ 2001-11-08 │ 130.82107211428254 │ 3.5858266281567603 │  4.177632713665929 │
│ 2001-12-22 │  107.8022491697422 │ 2.5369332712193065 │ 3.1157657299160837 │
│ 2003-03-04 │  193.3451631954651 │  6.434847359651605 │  7.061892615574727 │
├────────────┴────────────────────┴────────────────────┴────────────────────┤
│ 15 rows                                                         4 columns │
└───────────────────────────────────────────────────────────────────────────┘

None




-- Identify days with unusual return rates using Z-score and IQR methods
WITH daily_return_rate AS (
    SELECT
        d.d_date,
        (SUM(sr.sr_return_amt) / NULLIF(SUM(ss.ss_sales_price * ss.ss_quantity), 0)) * 100 AS return_rate
    FROM store_returns sr
    JOIN date_dim d ON sr.sr_returned_date_sk = d.d_date_sk
    JOIN store_sales ss ON sr.sr_store_sk = ss.ss_store_sk
    AND sr.sr_item_sk = ss.ss_item_sk
    AND sr.sr_customer_sk = ss.ss_customer_sk
    GROUP BY d.d_date
),
statistics AS (
    SELECT
        AVG(return_rate) AS avg_return_rate,
        STDDEV(return_rate) AS std_dev_return_rate,
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY return_rate) AS q1,
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY return_rate) AS q3
    FROM daily_return_rate
),
unusual_days_zscore AS (
    SELECT
        d.d_date,
        d.return_rate,
        (d.return_rate - s.avg_return_rate) / s.std_dev_return_rate AS z_score
    FROM daily_return_rate d
    CROSS JOIN statistics s
    WHERE s.std_dev_return_rate IS NOT NULL
),
unusual_days_iqr AS (
    SELECT
        d.d_date,
        d.return_rate,
        (d.return_rate - s.q1) / (s.q3 - s.q1) AS iqr_score
    FROM daily_return_rate d
    CROSS JOIN statistics s
    WHERE (s.q3 - s.q1) > 0
)
SELECT
    d.d_date,
    d.return_rate,
    d.z_score,
    i.iqr_score
FROM unusual_days_zscore d
FULL OUTER JOIN unusual_days_iqr i ON d.d_date = i.d_date
WHERE
    ABS(d.z_score) > 3 OR
    i.iqr_score > 3 OR
    i.iqr_score < -3
ORDER BY d.d_date;

Execution Time: 178.17 seconds
CPU times: total: 266 ms
Wall time: 11min 35s

'done'

In [9]:
%%time
ask_question(questions,'qwen3:8b')

Question 1: total sales
┌───────────────┐
│  total_sales  │
│ decimal(38,2) │
├───────────────┤
│  514300867.72 │
└───────────────┘

None




-- total sales
SELECT
  total_sales
FROM (
  SELECT
    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
  FROM store_sales AS ss
) AS total_sales_query;

Execution Time: 33.53 seconds
Question 2: return rate
┌──────────────────┐
│   return_rate    │
│      double      │
├──────────────────┤
│ 5.19283603163974 │
└──────────────────┘

None




-- return rate
WITH store_sales_agg AS (
    SELECT
        SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
    FROM store_sales AS ss
), store_returns_agg AS (
    SELECT
        SUM(sr.sr_return_amt) AS total_returns
    FROM store_returns AS sr
)
SELECT
    (COALESCE(sr.total_returns, 0) / NULLIF(COALESCE(ss.total_sales, 0), 0)) * 100 AS return_rate
FROM store_sales_agg ss, store_returns_agg sr;

Execution Time: 25.10 seconds
Question 3: Identify the top 10 item categories with the highest total return amount from customers born in 'USA' who made returns in 2001.
Attempt 1/3 failed with syntax error: Binder Error: Ambiguous reference to table "sr" (duplicate alias "sr", explicitly alias one of the tables using "AS my_alias")
Received corrected query
┌─────────────┬─────────────────────┐
│ i_category  │ total_return_amount │
│   varchar   │    decimal(38,2)    │
├─────────────┼─────────────────────┤
│ Home        │             7314.95 │
│ Women       │             5649.70 │
│ Sports      │             3015.88 │
│ Children    │             1915.36 │
│ Books       │             1560.20 │
│ Men         │             1064.68 │
│ Shoes       │              910.57 │
│ Jewelry     │              438.24 │
│ Electronics │              282.69 │
└─────────────┴─────────────────────┘

None




-- Identify the top 10 item categories with the highest total return amount from customers born in 'USA' who made returns in 2001
SELECT
  i.i_category,
  SUM(sr.sr_return_amt) AS total_return_amount
FROM
  store_returns sr
JOIN
  store_returns sr ON sr.sr_item_sk = i.i_item_sk
JOIN
  date_dim d ON sr.sr_returned_date_sk = d.d_date_sk
JOIN
  customer c ON sr.sr_customer_sk = c.c_customer_sk
JOIN
  item i ON sr.sr_item_sk = i.i_item_sk
WHERE
  d.d_year = 2001
  AND c.c_birth_country = 'UNITED STATES'
GROUP BY
  i.i_category
ORDER BY
  total_return_amount DESC
LIMIT 10;

Execution Time: 66.08 seconds
Question 4: customer age group with the worst return rate?
┌────────────────────┬───────────────┬───────────────┬───────────────────┐
│ customer_age_group │  total_sales  │ total_returns │    return_rate    │
│      varchar       │ decimal(38,2) │ decimal(38,2) │      double       │
├────────────────────┼───────────────┼───────────────┼───────────────────┤
│ 20-29              │   69319168.25 │    3707062.30 │ 5.347817052031636 │
└────────────────────┴───────────────┴───────────────┴───────────────────┘

None




-- customer age group with the worst return rate
WITH SalesAge AS (
  SELECT
    CASE
      WHEN (d.d_year - c.c_birth_year) < 20 THEN '< 20'
      WHEN (d.d_year - c.c_birth_year) BETWEEN 20 AND 29 THEN '20-29'
      WHEN (d.d_year - c.c_birth_year) BETWEEN 30 AND 39 THEN '30-39'
      WHEN (d.d_year - c.c_birth_year) BETWEEN 40 AND 49 THEN '40-49'
      WHEN (d.d_year - c.c_birth_year) BETWEEN 50 AND 59 THEN '50-59'
      WHEN (d.d_year - c.c_birth_year) >= 60 THEN '60+'
      ELSE 'Unknown'
    END AS age_group,
    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales_amt
  FROM store_sales AS ss
  JOIN date_dim AS d
    ON ss.ss_sold_date_sk = d.d_date_sk
  JOIN customer AS c
    ON ss.ss_customer_sk = c.c_customer_sk
  WHERE
    c.c_birth_year IS NOT NULL AND d.d_year IS NOT NULL
  GROUP BY 1
), ReturnsAge AS (
  SELECT
    CASE
      WHEN (d.d_year - c.c_birth_year) < 20 THEN '< 20'
      WHEN (d.d_year - c.c_birth_year) BETWEEN 20 AND 29 THEN '20-29'
      WHEN (d.d_year - c.c_birth_year) BETWEEN 30 AND 39 THEN '30-39'
      WHEN (d.d_year - c.c_birth_year) BETWEEN 40 AND 49 THEN '40-49'
      WHEN (d.d_year - c.c_birth_year) BETWEEN 50 AND 59 THEN '50-59'
      WHEN (d.d_year - c.c_birth_year) >= 60 THEN '60+'
      ELSE 'Unknown'
    END AS age_group,
    SUM(sr.sr_return_amt) AS total_returns_amt
  FROM store_returns AS sr
  JOIN date_dim AS d
    ON sr.sr_returned_date_sk = d.d_date_sk
  JOIN customer AS c
    ON sr.sr_customer_sk = c.c_customer_sk
  WHERE
    c.c_birth_year IS NOT NULL AND d.d_year IS NOT NULL
  GROUP BY 1
)
SELECT
  COALESCE(sa.age_group, ra.age_group) AS customer_age_group,
  COALESCE(sa.total_sales_amt, 0) AS total_sales,
  COALESCE(ra.total_returns_amt, 0) AS total_returns,
  (COALESCE(ra.total_returns_amt, 0) / NULLIF(COALESCE(sa.total_sales_amt, 0), 0)) * 100 AS return_rate
FROM SalesAge sa
FULL OUTER JOIN ReturnsAge ra
  ON sa.age_group = ra.age_group
ORDER BY return_rate DESC
LIMIT 1;

Execution Time: 150.48 seconds
Question 5: return rate per year
┌───────┬───────────────┬───────────────┬────────────────────┐
│ year  │  total_sales  │ total_returns │    return_rate     │
│ int32 │ decimal(38,2) │ decimal(38,2) │       double       │
├───────┼───────────────┼───────────────┼────────────────────┤
│  1998 │  102297175.54 │    3174362.68 │ 3.1030794968124686 │
│  1999 │   99370448.87 │    5123614.42 │  5.156074545565248 │
│  2000 │  103184045.02 │    5280670.28 │  5.117719778262673 │
│  2001 │  102172898.92 │    5228059.14 │ 5.1168746265029625 │
│  2002 │  100289052.41 │    5118797.44 │  5.104044077586275 │
│  2003 │     873774.86 │    2222881.70 │ 254.39982331375387 │
└───────┴───────────────┴───────────────┴────────────────────┘

None




-- return rate per year
WITH store_sales_agg AS (
    SELECT
        d.d_year,
        SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
    FROM store_sales AS ss
    JOIN date_dim AS d ON ss.ss_sold_date_sk = d.d_date_sk
    GROUP BY d.d_year
), store_returns_agg AS (
    SELECT
        d.d_year,
        SUM(sr.sr_return_amt) AS total_returns
    FROM store_returns AS sr
    JOIN date_dim AS d ON sr.sr_returned_date_sk = d.d_date_sk
    GROUP BY d.d_year
)
SELECT
    COALESCE(ss.d_year, ra.d_year) AS year,
    COALESCE(ss.total_sales, 0) AS total_sales,
    COALESCE(ra.total_returns, 0) AS total_returns,
    (COALESCE(ra.total_returns, 0) / NULLIF(COALESCE(ss.total_sales, 0), 0)) * 100 AS return_rate
FROM store_sales_agg ss
FULL OUTER JOIN store_returns_agg ra ON ss.d_year = ra.d_year
ORDER BY year;

Execution Time: 57.95 seconds
Question 6: any days with unusual return rate?, use fancy statistics
┌────────────┬───────────────┬───────────────┬────────────────────┬────────────────────┐
│   d_date   │  total_sales  │ total_returns │    return_rate     │      z_score       │
│    date    │ decimal(38,2) │ decimal(38,2) │       double       │       double       │
├────────────┼───────────────┼───────────────┼────────────────────┼────────────────────┤
│ 1999-07-24 │      40707.88 │      11131.33 │ 27.344410959254084 │  2.347378395491849 │
│ 1999-05-17 │      77951.99 │      19249.79 │ 24.694417679394714 │   2.03965669528592 │
│ 2001-03-29 │      72377.94 │      29524.31 │   40.7918628245015 │  3.908919242731628 │
│ 2001-04-28 │      27436.96 │      21389.16 │  77.95747050693663 │  8.224652445584272 │
│ 2000-03-06 │      55599.77 │      23549.04 │  42.35456369693616 │  4.090382710218007 │
│ 2001-05-17 │      22126.21 │      17599.64 │  79.54204538418463 │  8.408655959493649 │
│ 2002-04-19 │      24886.83 │      28188.32 │ 113.26601258577327 │  12.32474005066257 │
│ 2002-02-13 │      78007.35 │      37168.27 │  47.64713837862713 │  4.704965430821444 │
│ 2002-07-12 │      27025.39 │       8054.16 │ 29.802197119079505 │  2.632780679939987 │
│ 2002-01-20 │      82140.58 │      41338.33 │  50.32631861133681 │   5.01607636934099 │
│     ·      │          ·    │          ·    │          ·         │           ·        │
│     ·      │          ·    │          ·    │          ·         │           ·        │
│     ·      │          ·    │          ·    │          ·         │           ·        │
│ 2001-03-16 │      50487.18 │      16217.77 │  32.12255071485474 │ 2.9022240626827496 │
│ 2001-01-29 │     150986.81 │      37891.34 │ 25.095794791611265 │ 2.0862652841958425 │
│ 2001-02-04 │      74475.14 │      33756.89 │  45.32638676476473 │   4.43547582954544 │
│ 1999-05-15 │      45132.21 │      19477.71 │  43.15700472013225 │  4.183563518580656 │
│ 1998-07-08 │      66527.32 │      16442.63 │ 24.715605558738876 │ 2.0421170676593507 │
│ 2002-01-08 │      89579.00 │      25445.01 │ 28.405106107458217 │ 2.4705481095006623 │
│ 2000-05-14 │      74608.72 │      20823.76 │  27.91062492427158 │ 2.4131281184514375 │
│ 2001-05-01 │      47667.91 │      12367.16 │  25.94441417716866 │ 2.1848084020732177 │
│ 2002-02-16 │      78671.19 │      25837.41 │  32.84227682331994 │  2.985799875294343 │
│ 2002-05-20 │      22599.97 │       6045.04 │ 26.748000107964742 │ 2.2781221590421623 │
├────────────┴───────────────┴───────────────┴────────────────────┴────────────────────┤
│ 62 rows (20 shown)                                                         5 columns │
└──────────────────────────────────────────────────────────────────────────────────────┘

None




-- any days with unusual return rate? (using fancy statistics like z-score)
WITH daily_sales AS (
    SELECT
        d.d_date,
        SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
    FROM store_sales ss
    JOIN date_dim d ON ss.ss_sold_date_sk = d.d_date_sk
    GROUP BY d.d_date
),
daily_returns AS (
    SELECT
        d.d_date,
        SUM(sr.sr_return_amt) AS total_returns
    FROM store_returns sr
    JOIN date_dim d ON sr.sr_returned_date_sk = d.d_date_sk
    GROUP BY d.d_date
),
daily_sales_returns AS (
    SELECT
        s.d_date,
        s.total_sales,
        COALESCE(r.total_returns, 0) AS total_returns
    FROM daily_sales s
    LEFT JOIN daily_returns r ON s.d_date = r.d_date
),
-- Calculate mean and standard deviation for total_returns / total_sales
mean_std AS (
    SELECT
        AVG(return_rate) AS mean_return_rate,
        STDDEV(return_rate) AS std_return_rate
    FROM (
        SELECT
            (COALESCE(total_returns, 0) / NULLIF(COALESCE(total_sales, 0), 0)) * 100 AS return_rate
        FROM daily_sales_returns
    ) AS return_rate_table
),
-- Identify days with unusual return rate (using z-score threshold of 2)
unusual_days AS (
    SELECT
        dr.d_date,
        dr.total_sales,
        dr.total_returns,
        (COALESCE(dr.total_returns, 0) / NULLIF(COALESCE(dr.total_sales, 0), 0)) * 100 AS return_rate,
        (COALESCE(dr.total_returns, 0) / NULLIF(COALESCE(dr.total_sales, 0), 0) * 100 - m.mean_return_rate) / m.std_return_rate AS z_score
    FROM daily_sales_returns dr
    CROSS JOIN mean_std m
    WHERE
        (COALESCE(dr.total_returns, 0) / NULLIF(COALESCE(dr.total_sales, 0), 0) * 100 - m.mean_return_rate) / m.std_return_rate > 2
        OR
        (COALESCE(dr.total_returns, 0) / NULLIF(COALESCE(dr.total_sales, 0), 0) * 100 - m.mean_return_rate) / m.std_return_rate < -2
)
SELECT * FROM unusual_days;

Execution Time: 117.95 seconds
CPU times: total: 578 ms
Wall time: 7min 31s

'done'

In [10]:
%%time
ask_question(questions,'qwen3:4b')

Question 1: total sales
┌───────────────┐
│  total_sales  │
│ decimal(38,2) │
├───────────────┤
│  514300867.72 │
└───────────────┘

None




SELECT
    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
FROM
    store_sales ss;

Execution Time: 16.91 seconds
Question 2: return rate
┌──────────────────┐
│   return_rate    │
│      double      │
├──────────────────┤
│ 5.19283603163974 │
└──────────────────┘

None




-- return rate
WITH store_sales_agg AS (
    SELECT
        SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
    FROM store_sales AS ss
), store_returns_agg AS (
    SELECT
        SUM(sr.sr_return_amt) AS total_returns
    FROM store_returns AS sr
)
SELECT
    (COALESCE(sr.total_returns, 0) / NULLIF(COALESCE(ss.total_sales, 0), 0)) * 100 AS return_rate
FROM store_sales_agg ss, store_returns_agg sr;

Execution Time: 8.34 seconds
Question 3: Identify the top 10 item categories with the highest total return amount from customers born in 'USA' who made returns in 2001.
┌─────────────┬─────────────────────┐
│ i_category  │ total_return_amount │
│   varchar   │    decimal(38,2)    │
├─────────────┼─────────────────────┤
│ Home        │             7314.95 │
│ Women       │             5649.70 │
│ Sports      │             3015.88 │
│ Children    │             1915.36 │
│ Books       │             1560.20 │
│ Men         │             1064.68 │
│ Shoes       │              910.57 │
│ Jewelry     │              438.24 │
│ Electronics │              282.69 │
└─────────────┴─────────────────────┘

None




SELECT
  i.i_category,
  SUM(sr.sr_return_amt) AS total_return_amount
FROM
  store_returns sr
JOIN
  date_dim d ON sr.sr_returned_date_sk = d.d_date_sk
JOIN
  customer c ON sr.sr_customer_sk = c.c_customer_sk
JOIN
  item i ON sr.sr_item_sk = i.i_item_sk
WHERE
  c.c_birth_country = 'UNITED STATES'
  AND d.d_year = 2001
GROUP BY
  i.i_category
ORDER BY
  total_return_amount DESC
LIMIT 10;

Execution Time: 10.88 seconds
Question 4: customer age group with the worst return rate?
┌───────────┬───────────────────┐
│ age_group │    return_rate    │
│  varchar  │      double       │
├───────────┼───────────────────┤
│ 20-29     │ 5.347817052031636 │
└───────────┴───────────────────┘

None




SELECT
  sa.age_group,
  (COALESCE(ra.total_returns_amt, 0) / NULLIF(COALESCE(sa.total_sales_amt, 0), 0)) * 100 AS return_rate
FROM
  (SELECT
     CASE
       WHEN (d.d_year - c.c_birth_year) < 20 THEN '< 20'
       WHEN (d.d_year - c.c_birth_year) BETWEEN 20 AND 29 THEN '20-29'
       WHEN (d.d_year - c.c_birth_year) BETWEEN 30 AND 39 THEN '30-39'
       WHEN (d.d_year - c.c_birth_year) BETWEEN 40 AND 49 THEN '40-49'
       WHEN (d.d_year - c.c_birth_year) BETWEEN 50 AND 59 THEN '50-59'
       WHEN (d.d_year - c.c_birth_year) >= 60 THEN '60+'
       ELSE 'Unknown'
     END AS age_group,
     SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales_amt
   FROM store_sales AS ss
   JOIN date_dim AS d ON ss.ss_sold_date_sk = d.d_date_sk
   JOIN customer AS c ON ss.ss_customer_sk = c.c_customer_sk
   GROUP BY 1) sa
FULL OUTER JOIN
  (SELECT
     CASE
       WHEN (d.d_year - c.c_birth_year) < 20 THEN '< 20'
       WHEN (d.d_year - c.c_birth_year) BETWEEN 20 AND 29 THEN '20-29'
       WHEN (d.d_year - c.c_birth_year) BETWEEN 30 AND 39 THEN '30-39'
       WHEN (d.d_year - c.c_birth_year) BETWEEN 40 AND 49 THEN '40-49'
       WHEN (d.d_year - c.c_birth_year) BETWEEN 50 AND 59 THEN '50-59'
       WHEN (d.d_year - c.c_birth_year) >= 60 THEN '60+'
       ELSE 'Unknown'
     END AS age_group,
     SUM(sr.sr_return_amt) AS total_returns_amt
   FROM store_returns AS sr
   JOIN date_dim AS d ON sr.sr_returned_date_sk = d.d_date_sk
   JOIN customer AS c ON sr.sr_customer_sk = c.c_customer_sk
   GROUP BY 1) ra
ON sa.age_group = ra.age_group
ORDER BY return_rate DESC
LIMIT 1;

Execution Time: 38.43 seconds
Question 5: return rate per year
Attempt 1/3 failed with syntax error: Binder Error: Values list "sr" does not have a column named "d_year"
Received corrected query
Attempt 2/3 failed with syntax error: Binder Error: Referenced table "d" not found!
Candidate tables: "sr"
Received corrected query
Attempt 3/3 failed with syntax error: Binder Error: Referenced table "d" not found!
Candidate tables: "sr"
Max attempts reached. Last error: Binder Error: Referenced table "d" not found!
Candidate tables: "sr"




SELECT
  d.d_year AS year,
  (COALESCE(sr.total_returns, 0) / NULLIF(COALESCE(ss.total_sales, 0), 0)) * 100 AS return_rate
FROM
  (SELECT
     SUM(sr.sr_return_amt) AS total_returns
   FROM store_returns AS sr
   JOIN date_dim AS d ON sr.sr_returned_date_sk = d.d_date_sk
   GROUP BY d.d_year) sr,
  (SELECT
     SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
   FROM store_sales AS ss
   JOIN date_dim AS d ON ss.ss_sold_date_sk = d.d_date_sk
   GROUP BY d.d_year) ss,
  date_dim d
WHERE
  d.d_year = sr.d_year
  AND d.d_year = ss.d_year
ORDER BY
  d_year;

Execution Time: 42.14 seconds
Question 6: any days with unusual return rate?, use fancy statistics
Attempt 1/3 failed with syntax error: Binder Error: Referenced table "d" not found!
Candidate tables: "sr"
Received corrected query
Attempt 2/3 failed with syntax error: Binder Error: Referenced table "d" not found!
Candidate tables: "sr"
Received corrected query
Attempt 3/3 failed with syntax error: Binder Error: Referenced table "d" not found!
Candidate tables: "sr"
Max attempts reached. Last error: Binder Error: Referenced table "d" not found!
Candidate tables: "sr"




SELECT
  d.d_date_sk AS date_sk,
  d.d_date AS date,
  d.d_year AS year,
  d.d_moy AS month,
  d.d_dow AS day_of_week,
  d.d_qoy AS quarter_of_year,
  d.d_holiday AS is_holiday,
  d.d_weekend AS is_weekend,
  -- Calculate return rate for the day
  (COALESCE(sr.total_returns, 0) / NULLIF(COALESCE(ss.total_sales, 0), 0)) * 100 AS return_rate,
  -- Calculate Z-score to identify unusual return rates
  ( ( (COALESCE(sr.total_returns, 0) / NULLIF(COALESCE(ss.total_sales, 0), 0)) * 100 ) - AVG_return_rate ) / STDEV_return_rate AS z_score,
  -- Calculate percentile to identify unusual return rates
  PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY (COALESCE(sr.total_returns, 0) / NULLIF(COALESCE(ss.total_sales, 0), 0)) * 100) AS percentile_95,
  PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY (COALESCE(sr.total_returns, 0) / NULLIF(COALESCE(ss.total_sales, 0), 0)) * 100) AS percentile_05
FROM
  (SELECT
    d.d_date_sk,
    d.d_date,
    d.d_year,
    d.d_moy,
    d.d_dow,
    d.d_qoy,
    d.d_holiday,
    d.d_weekend,
    SUM(sr.sr_return_amt) AS total_returns
  FROM
    store_returns sr
  JOIN
    date_dim d ON sr.sr_returned_date_sk = d.d_date_sk
  GROUP BY
    d.d_date_sk, d.d_date, d.d_year, d.d_moy, d.d_dow, d.d_qoy, d.d_holiday, d.d_weekend) sr,
  (SELECT
    d.d_date_sk,
    d.d_date,
    d.d_year,
    d.d_moy,
    d.d_dow,
    d.d_qoy,
    d.d_holiday,
    d.d_weekend,
    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales
  FROM
    store_sales ss
  JOIN
    date_dim d ON ss.ss_sold_date_sk = d.d_date_sk
  GROUP BY
    d.d_date_sk, d.d_date, d.d_year, d.d_moy, d.d_dow, d.d_qoy, d.d_holiday, d.d_weekend) ss
WHERE
  sr.d_date_sk = ss.d_date_sk
ORDER BY
  z_score DESC; -- Sort by z-score to find the most unusual return rates

Execution Time: 157.70 seconds
CPU times: total: 375 ms
Wall time: 4min 34s

'done'